.clients-list {
  display: flex;
  margin-left: -30px;
}

.client-item {
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-left: 30px;
  height: 92px;
  background-color: var(--primary-background-color);
}

.client-link {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-img-icon {
  fill: var(--primary-icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-link:hover .client-img-icon,
.client-link:focus .client-img-icon {
  fill: var(--accent-color);
}
