// Left part of footer

.footer {
  background-color: var(--first-decor-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-elements {
  display: flex;
  align-items: baseline;
}

.footer-left {
  width: 300px;
  display: block;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map {
  color: var(--third-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link {
  color: var(--address-tex-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

// Center part of footer
.footer-center {
  display: block;
}

.footer-join,
.footer-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--third-text-color);

  margin-bottom: 20px;
}

// Right part of footer
.footer-right {
  margin-right: 0;
  margin-left: auto;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}

.footer-form-input {
  display: block;
  margin-right: 12px;

  width: 358px;
  height: 50px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.footer-form-button {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-icon {
  margin-left: 10px;
}
