.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav,
.nav-list {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-cont-item {
  display: flex;
  align-items: center;
}

.header-items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-left {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-right {
  display: flex;
  align-items: center;
}

.nav-list-items:not(:last-child) {
  margin-right: 50px;
}

.header-cont-item:not(:last-child) {
  margin-right: 50px;
}

.header-items.header-left {
  color: var(--primary-text-color);
}

.header-items.header-right {
  color: var(--second-text-color);
}

.header-items:hover,
.header-items:focus {
  color: var(--accent-color);
}

.header-left.active {
  color: var(--accent-color);
}

.nav-list-items {
  position: relative;
}

.header-left.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
}

.mail-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tell-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-right:hover .mail-icon,
.header-right:focus .mail-icon,
.header-right:hover .tell-icon,
.header-right:focus .tell-icon {
  fill: var(--accent-color);
}
