.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  margin: 0 auto;

  background-color: var(--first-decor-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--third-text-color);
}
