.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.container__portfolio {
  margin-left: -30px;
  margin-bottom: -30px;
  margin-top: 50px;
}

.card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__preview {
  display: block;
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .card__preview:hover &,
  .card__preview:focus & {
    transform: translate(0, 0);
  }
}

.card__wrapper {
  width: 370px;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
