.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.worklist-items {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worklist-items:hover,
.worklist-items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-link {
  display: block;
}

.work-link-img {
  position: relative;
  overflow: hidden;
}

.work-link-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover .work-link-desc,
.work-link:focus .work-link-desc {
  transform: translate(0, 0);
}

.worklist-name {
  width: 370px;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.worklist-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.worklist-text {
  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
