.services {
  background-color: var(--primary-background-color);
}

.services__list {
  display: flex;
  margin-left: -30px;
}

.services__list .services__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
}

.services__item {
  position: relative;
}

.services__text {
  position: absolute;
  display: block;

  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
