.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo--firstpart {
  color: var(--accent-color);
}

.logo--light-theme {
  color: var(--logo-top-color);
}

.logo--dark-theme {
  color: var(--third-text-color);
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
