.form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal-field {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-input-wrapper {
  position: relative;
  display: block;

  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-input {
  display: block;

  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--second-text-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper:hover .modal-input {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper:hover .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--second-text-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:focus,
.modal-comment:hover {
  outline: none;
  border-color: var(--accent-color);
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.modal-checkbox-label::before {
  display: block;
  align-items: center;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background-image: url(../images/check.svg);
  cursor: pointer;

  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:focus + .modal-checkbox-label::before,
.modal-checkbox:hover + .modal-checkbox-label::before {
  background-image: url(../images/chack-blue.svg);
}

.modal-checkbox:checked + .modal-checkbox-label::before {
  background-image: url(../images/accept.svg);
}

.accepr-link {
  color: var(--accent-color);
}

.modal-button {
  display: block;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
